body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.background {
    background: url('background-money.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.content {
    max-width: 400px;
    margin: 0 auto;
}

input[type="tel"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ff007f;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e5006b;
}

.download-button {
    background-color: #2ecc71;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    display: block;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #27ae60;
}

